/*----------------------------------------*/
/*  large desktop :1201px.
/*----------------------------------------*/
@media (min-width: 1201px) and (max-width: 1600px) {
    .banner-content h3 {
        font-size: 30px;
    }
}


/*----------------------------------------*/
/*  Normal desktop :992px.
/*----------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {
    .primary-menu-list > li > a {
        margin: 0;
        margin-left: 13px;
    }
    .slider-text {
        left: 10%;
    }
    .primary-menu-list > li > ul.mega-menu-2 {
        width: 120%;
    }
    .primary-menu-list > li > ul.mega-menu li h3,
    .primary-menu-list > li > ul.mega-menu-2 li h3 {
        font-size: 14px;
    }
    .big-banner-desc h2 {
        font-size: 33px;
    }
    .big-banner-desc p {
        font-size: 20px;
    }
    .new-products .owl-nav div,
    .thumb-menu .owl-nav div {
        left: 0;
    }
    .new-products .owl-nav div.owl-next,
    .thumb-menu .owl-nav div.owl-next {
        right: 0;
    }
    .modal-dialog {
        width: 90%;
    }
    .banner-content h5 {
        font-size: 18px;
    }
    .banner-content h3 {
        font-size: 20px;
    }
     .home-3 .banner-description {
        padding-top: 130px;
        text-align: center;
    }
    .home-3 .banner-description h3:before {
        left: 50%;
        margin-left: -25px;
    }
    .home-4 .social-footer .list-inline li {
        display: block;
    }
    .home-4 .social-footer {
        margin-top: 60px;
    }
    .home-4 .footer-middle .row  .single-footer:nth-child(-n+2) {
        margin-bottom: 40px;
    }
    .footer-list.first-content li {
        font-size: 13px;
    }
    .home-4 .single-footer:nth-child(2n+1) {
        clear: both;
    }
    .home-4 .single-product .pro-content h4 {
        font-size: 18px;
        margin: 0 0 10px;
    }
    .slider-text p {
        font-size: 23px;
    }
    .big-banner-ads {
        padding: 170px 0;
    }
    .blog-title {
      font-size: 13px;
    }
}

/*----------------------------------------*/
/*  Tablet desktop :768px.
/*----------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
    .header-top-area {
      padding-bottom: 0;
      padding-top: 25px;
    }
    .selection-list > li {
      padding-bottom: 25px;
    }
    .slider-text {
        left: 5%;
    }
    .slider-text h2 {
        font-size: 32px;
    }
    .home-2 .slider-text h2 {
        font-size: 28px;
    }
    .home-2 .slider-text p {
        margin: 15px 0 30px;
    }
    .slider-text p {
        font-size: 24px;
        margin: 25px 0 40px;
    }
    .big-banner-desc h2 {
        font-size: 28px;
    }
    .big-banner-desc p {
        font-size: 18px;
    }
    .big-banner-desc a {
        margin-top: 20px;
        font-size: 15px;
    }
    .pro-price-list .mtb-50 {
        margin: 35px 0;
    }
    .modal-dialog {
        width: 90%;
    }
    .header-sticky.sticky {
        padding: 25px 4.9% 0;
    }
    .mean-container .mean-nav {
        margin-top: 0;
    }
    .banner-content h5 {
        font-size: 18px;
    }
    .banner-content h3 {
        font-size: 20px;
    }
    .home-2 .big-banner-desc a,
    .home-3 .big-banner-desc a {
        font-size: 13px;
        margin-top: 10px;
    }
    .home-2 .big-banner-desc h2,
    .home-3 .big-banner-desc h2 {
        font-size: 32px;
    }
    .home-2 .slider-text {
        left: 15%;
        top: 52%;
    }
    
    .home-4 .social-footer .social-footer-list li a {
        padding-right: 0;
        padding-bottom: 10px;
        display: block;
    }
  
    .home-4 .social-footer {
        margin-top: 20px;
        text-align: center;
    }
     .home-4 header {
        width: 100%;
        position: static;
        padding-right: 0;
    }
    .home-4 .wrapper-content {
        width: 100%;
        padding-left: 0;
    }
    .single-footer:nth-child(2n+1) {
        clear: both;
    }
     .footer-middle .row  .single-footer:nth-child(-n+2) {
        margin-bottom: 40px;
    }
    .home-3 .banner-description {
        padding-top: 65px;
        text-align: center;
    }
    .home-3 .banner-description h3 {
        font-size: 24px;
    }
    .home-3 .banner-description h5 {
        font-size: 17px;
    }
    .home-3 .banner-description h3:before {
        left: 50%;
        margin-left: -25px;
    }
    .modal.modal-box {
        top: 15%;
    }
    .mean-container a.meanmenu-reveal {
      top: -53px;
    }
    .banner-content h3 {
        font-size: 15px;
    }

    .banner-content h3 {
        margin: 0 0 5px;
        padding-bottom: 10px;
    }
    .big-banner-ads {
        padding: 150px 0;
    }
    .home-4 .logo {
        padding-bottom: 0;
    }
    .selection-list.text-right {
      padding-right: 40px;
      text-align: right;
    }
    .home-4 header {
        padding-right: 0;
        position: static;
        width: 100%;
    }
    .home-4 .wrapper-content {
        padding-left: 0;
        width: 100%;
    }
    .d-single-info.text-center {
      text-align: left;
    }
    .dashboard-content {
      margin-top: 30px;
    }
    .dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
        border-right: 0 none;
    }
    .dashboard-upper-info .d-single-info {
        padding: 0 0 20px;
    }
    .dashboard-upper-info {
        padding-top: 20px;
    }
    .dashboard-upper-info {
      margin-bottom: 30px;
    }
}

/*----------------------------------------*/
/*  small mobile :320px.
/*----------------------------------------*/
@media (max-width: 479px) {
    .full-col {
      width: 100%;
    }
    .logo {
      text-align: center;
    }
}
@media (max-width: 767px) {
    .container {
        width: 300px
    }
    .zoomWindowContainer,.zoomLens{
        display: none!important;
    }
    .modal.modal-box {
        top: 15%;
    }
    .slider-text {
        left: 5%;
    }
    .slider-text h2 {
        font-size: 22px;
    }
    .slider-text p {
        font-size: 16px;
        margin: 20px 0 30px;
    }
    .slider-text a {
        padding: 8px 20px;
        font-size: 11px;
        position: relative;
    }
    .nivo-controlNav {
        display: none;
    }
    .header-top-area {
        padding-top: 10px;
        padding-bottom: 0;
    }
    .sticky .logo {
        display: none;
    }
    .hidden-control {
        visibility: hidden;
    }
    .main-selection {
        margin-top: 80px;
    }
    .sticky .main-selection {
        margin-top: 0;
    }
     .sticky .col-xs-12.visible-xs.visible-control{
        display: none!important;
    }
    .selection-list > li {
      padding-bottom: 15px;
    }
     .mean-container a.meanmenu-reveal {
      left: 0 !important;
      right: auto !important;
      top: -42px;
    }
    .mean-container .mean-nav {
        margin-top: 0;
    }
    .slider-text {
        top: 50%;
    }
     .slider-text h2 {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .home-2 .slider-text h2{
        margin-bottom: 10px;
        font-size: 12px;
    }
    .slider-text p {
        margin: 10px 0 15px;
        display: none;
    }
    .text-left.copyright-text {
        text-align: center;
        margin-bottom: 20px;
    }
    .social-footer-list.list-inline.text-right {
        text-align: center;
    }
    .home-2 .big-banner-desc h2{
        font-size: 18px;
    }
    .big-banner-desc h2{
        font-size: 20px;
    }
    .home-3 .big-banner-desc h2{
        font-size: 18px;
    }
    .big-banner-desc p {
        font-size: 14px;
    }
    .big-banner-desc a {
        font-size: 13px;
        margin-top: 15px;
        padding: 10px 15px;
    }
    .section-info:before,
    .section-info:after {
        display: none;
    }
    .new-products-banner .single-banner.zoom.mb-30 {
        margin-bottom: 0;
    }
    .new-products-banner .row > div:not(:last-child) {
        margin-bottom: 30px;
    }
    .thubnail-desc.fix {
        margin-top: 30px;
    }
    .product-button-actions .add-to-cart {
        height: 44px;
        padding: 0px 14px;
        font-size: 11px;
    }
    .social-shared .f-book,
    .social-shared .twitter,
    .social-shared .pinterest,
    .social-shared .share-post {
        width: 60px;
        font-size: 10px;
    }
    .social-shared > ul > li ul.sharable-dropdown {
        left: -64px;
        width: 124px;
    }
    .new-products .owl-nav div,
    .thumb-menu .owl-nav div,
    .featured-pro:hover .owl-nav div {
        display: none;
    }
    .best-seller .row .pull-left,
    .pull-right {
        float: none !important;
        margin-bottom: 15px;
    }
    .modal-dialog {
        width: 100%;
    }
    .modal.modal-box {
        top: 2%;
    }
    .pro-list-details.text-right {
        text-align: center;
        margin-top: 30px;
    }
    .blog-pagination {
        display: block;
        text-align: center;
    }
    .header-sticky.sticky,
    .home-2 .header-sticky.sticky {
        padding: 20px 7.9% 0;
    }
    .mean-container .mean-nav {
        margin-top: 0;
    }
    .home-home-2-banner .row > div:not(:last-child) {
        margin-bottom: 30px;
    }
    .banner-content {
        left: 30%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .banner-content h3::before,
    .home-3 .banner-description h3::before {
        bottom: -5px;
    }
    .banner-content h5 {
        font-size: 16px;
    }
    .banner-content h3 {
        font-size: 20px;
        padding-bottom: 12px;
    }
    .home-2 .new-products-list li a {
        padding: 0;
    }
    .home-2 .big-banner-desc a,
    .home-3 .big-banner-desc a {
        font-size: 11px;
        padding: 10px 15px;
        margin-top: 0;
    }
    .home-home-2-banner.pb-100 .plr-0,
    .h2-featured-products.pb-100 .plr-0 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .home-3 .banner-description h3 {
        font-size: 21px;
    }
    .home-3 .banner-description h5 {
        font-size: 17px;
        margin-bottom: 25px;
    }
    .home-4 header {
        width: 100%;
        position: static;
        padding-right: 0;
    }
    .home-4 .wrapper-content {
        width: 100%;
        padding-left: 0;
    }
    .home-4 .social-footer {
        margin-top: 0;
        text-align: center;
    }
    .home-4 .header-top-area {
        padding-top: 20px;
    }
    .home-4 .logo {
        padding-bottom: 20px;
    }
    .home-4 .home-4-search {
        width: 100%;
        margin-bottom: 20px;
    }
    .h2-new-products .col-xs-6 {
        width: 100%;
    }
    .home-4 .selection-list li ul.main-cart-box {
        right: -90px;
    }
    .home-4 .selection-list li ul.currrency {
        right: -70px;
    }
    .footer-middle .row  .single-footer:nth-child(-n+3) {
        margin-bottom: 40px;
    }
    .home-3 .banner-description {
        padding: 50px 0;
        text-align: center;
    }
    .home-3 .banner-description h3:before {
        left: 50%;
        margin-left: -25px;
    }
    .home-3 .new-products-banner .row.mb-100 {
        margin-bottom: 0;
    }
    .section-info {
        font-size: 20px;
    }
    .select-varient{
        max-width: 100%;
    }
    .section-desc.mb-20 {
        font-size: 13px;
        margin-bottom: 12px;
    }
    .shop-link-page a {
        font-size: 11px;
        padding: 10px 24px;
    }
    .cart-main-area.wish-list .product-add-to-cart a {
        padding: 8px 25px;
        width: 155px;
        font-size: 12px;
    }
    .buttons-cart a {
        margin-top: 20px;
    }
    .cart_totals {
        float: none;
        text-align: left;
        margin-top: 40px;
    }
    .cart_totals table {
        float: none;
    }
    .cart_totals table tr.order-total th {
        text-align: left;
    }
    .cart_totals h2 {
        font-size: 24px;
    }
    .error-text h1 {
        font-size: 120px;
        line-height: 120px;
        margin-bottom: 20px;
    }
    .error-text h2 {
        font-size: 20px;
        line-height: 20px;
    }
    .error-text > p {
        font-size: 19px;
        line-height: 21px;
    }
    #search-form {
        width: 100%;
    }
    .home-2 .header-top-area{
        position: static;
        padding: 18px 5.9% 0;
    }
    .home-2 .selection-list>li i,.home-2 .mean-container a.meanmenu-reveal{
        color: #1a1a1a;
    }
    .home-2 .mean-container a.meanmenu-reveal span{
        background: #1a1a1a;
    }
    .home-3 .banner-description a {
        font-size: 16px;
        padding: 8px 22px;
    }
    .col-lg-2.col-md-2.col-sm-3.col-xs-6.full-col.pl-0{
        padding-left: 15px;
    }
    .col-lg-3.col-md-3.col-sm-4.col-xs-6.full-col.pr-0{
        padding-right: 15px;
    }
    .big-banner-ads{
        padding: 100px 0;
    }
    .big-banner-desc p {
        font-size: 14px;
        padding: 0 50px;
    }
    #scrollUp{
        display: none!important;
    }
    .home-2 .big-banner,
    .home-3 .big-banner {
        padding: 105px 0;
    }
    .home-3 .pb-100{
        padding-bottom: 70px;
    }
    .home-3 .pro-content{
        padding: 25px 0 0;
    }
    .home-2 .header-sticky.sticky {
      background: #fff;
    }

    .pro-content .action-links2 {
      bottom: 0;
    }
    .social-links.text-right{
        text-align: left;
        margin-top: 10px;
    }
    .social-link-list li{
        margin-left: 0;
        margin-right: 10px;
    }
    .post-date {
        font-size: 12px;
        height: 60px;
        width: 60px;
    }
    .post-date span {
        font-size: 20px;
        line-height: 18px;
    }
    .comment-img.f-left.pr-30 img {
        max-width: 60px;
    }
    .recent-post .sidebar-title {
        font-size: 16px;
    }

    .contact-email-area h3 {
        font-size: 22px;
    }
    .your-order-table table .order-total th {
      font-size: 14px;
    }
    .your-order-table table th, .your-order-table table td {
      font-size: 12px;
      padding: 15px 5px;
    }
    .your-order-table table tr.order-total td span {
      font-size: 15px;
    }
    .coupon-accordion h3 {
      line-height: 22px;
    }
    .dashboard-content {
      margin-top: 30px;
    }
    .d-single-info.text-center{
        text-align: left;
    }
    .dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
        border-right: 0 none;
    }
    .dashboard-upper-info .d-single-info {
        padding: 0 0 20px;
    }
    .dashboard-upper-info {
        padding-top: 20px;
    }
    .dashboard-upper-info .row {
      display: block;
    }
    .dashboard-upper-info {
      margin-bottom: 30px;
    }
    .dashboard-content {
      padding: 15px;
    }
    .dashboard-content .table-responsive .table > tbody > tr > td {
      min-width: 150px;
    }
    .dashboard-content h3 {
      font-size: 19px;
      line-height: 19px;
      margin-bottom: 14px;
    }
}

/*----------------------------------------*/
/*  Large Mobile :480px.
/*----------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }
    .header-top-area {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .logo {
        text-align: left;
    }
    .visible-control {
        display: none !important;
    }
    .hidden-control {
        visibility: visible;
        `
    }
    .main-selection {
        margin-top: 0;
    }

    .home-4 .main-selection {
        margin-top: 0;
    }
    .slider-text h2 {
        font-size: 22px;
        margin-bottom: 0;
    }
    .product-button-actions .add-to-cart {
        padding: 0 30px;
        font-size: 14px;
    }
    .social-shared .f-book,
    .social-shared .twitter,
    .social-shared .pinterest,
    .social-shared .share-post {
        width: 65px;
    }
    .social-shared > ul > li ul.sharable-dropdown {
        left: 0;
    }
    .header-sticky.sticky {
        padding: 20px 4.9% 55px;
    }
    .banner-content h5 {
        font-size: 18px;
    }
    .banner-content h3 {
        font-size: 31px;
    }
    .home-2 .big-banner-desc a,
    .home-3 .big-banner-desc a {
        font-size: 10px;
        padding: 10px 15px;
        margin-top: 0;
    }
    .home-4 .h2-new-products .col-xs-6 {
        width: 50%;
    }
    .home-4 .single-product .pro-content h4 {
        font-size: 14px;
        margin: 0 0 10px;
    }
    .home-4 .single-product .pro-content p {
        font-size: 14px;
    }
    .home-4 .single-product .pro-content .home-four-cart {
        padding: 7px 21px;
        font-size: 9px;
        margin-top: 14px;
    }
    .selection-list.text-right {
        padding-right: 40px;
        text-align: right;
    }
    .buttons-cart a {
        margin-top: 0;
    }
    .home-2 .slider-text {
        left: 15%;
        top: 43%;
    }
    .home-2 .slider-text h2 {
        font-size: 18px;
    }
    .home-2 .slider-text p {
        display: none;
    }
    .header-sticky.sticky, .home-2 .header-sticky.sticky {
      padding: 20px 6.9% 0px;
    }
    .slider-text a {
        position: absolute;
    }
    .home-2 .sticky .selection-list>li i,.home-2 .sticky .mean-container a.meanmenu-reveal{
        color: #fff;
    }
    .home-2 .sticky .mean-container a.meanmenu-reveal span{
        background: #fff;
    }
    .home-2 .sticky .hidden-xs.hidden-logo{
        display: block!important;
    }
    .home-2 .header-sticky.sticky{
        position: fixed;
        background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
        display: block;
        
    }
     .home-3 .banner-description h3 {
        font-size: 25px;
    }
    .home-3 .banner-description h5 {
        font-size: 17px;
        margin-bottom: 25px;
    }
    .col-lg-2.col-md-2.col-sm-3.col-xs-6.full-col.pl-0{
        padding-left: 0;
    }
    .col-lg-3.col-md-3.col-sm-4.col-xs-6.full-col.pr-0{
        padding-right: 0;
    }
    .home-4 .mean-container .mean-nav {
        margin-top: 0;
    }
    #scrollUp {
        display: block!important;
    }
    .slider-text p {
        margin: 10px 0 15px;
        display: block;
    }
    .slider-text {
        top: 40%;
    }
     .select-varient{
        max-width: 250px;
    }
    .mean-container a.meanmenu-reveal {
      left: auto !important;
      right: 0 !important;
      top: -42px;
    }
    .sticky .logo {
      display: block;
    }
    .header-top-area {
      padding-bottom: 0;
      padding-top: 18px;
    }
    .home-2 .header-sticky.sticky {
      background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    }
}